@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  --primay: #fff;
  --secondary: #ff7e19;
  --tertiary: #ffa25a;
}

/*-----MENU-----*/
.social_networks_container.sn--style--menu {
  display: flex;
  gap: 18px;
}
.sn--style--menu {
  color: #545776;
  font-size: 25px;
}
.sn--style--menu:active {
  color: #ff7e19;
}

/*-----FOOTER-----*/
.social_networks_container.sn--style--footer {
  display: flex;
  gap: 30px;
}
.sn--style--footer {
  color: #fff;
  font-size: 26px;
}
.sn--style--footer:hover {
  color: #ff7e19;
}
